<manifest
    package="com.hendraanggrian.socialview"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26"
        tools:overrideLibrary="android.support.test, android.app, android.support.test.rule, android.support.test.espresso, android.support.test.espresso.idling"/>

    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <uses-library
            android:name="android.test.runner"/>
        <activity
            android:name=".activity.InstrumentedActivity"/>
        <activity
            android:name=".activity.CustomThemeActivity"
            android:theme="@style/MyAppTheme"/>
    </application>
</manifest>