<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hendraanggrian.appcompat.socialview">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="29"
        tools:overrideLibrary="androidx.test, android.app, androidx.test.rule, androidx.test.espresso, androidx.test.espresso.idling" />

    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <uses-library android:name="android.test.runner" />

        <activity android:name=".activity.InstrumentedActivity" />
        <activity
            android:name=".activity.CustomThemeActivity"
            android:theme="@style/MyAppTheme" />
    </application>
</manifest>