* {
  --surface: #212121; /*Gray 900*/
  --surface-container: #263238; /*Blue Gray 900*/

  --on-surface: #b0bec5; /*Blue Gray 300*/
  --on-surface-variant: #78909c; /*Blue Gray 400*/
  --outline: #37474f; /*Blue Gray 800*/
  --outline-variant: #212121; /*Gray 900*/

  --button-text: rgba(0, 0, 0, 0.7);
  --button-text-hover: rgba(0, 0, 0, 0.8);
  --button-background: rgba(0, 0, 0, 0.08);
  --button-background-hover: rgba(0, 0, 0, 0.2);
  --button-border: rgba(0, 0, 0, 0.2);
  --button-border-hover: rgba(0, 0, 0, 0.3);
}
